 [Unit]
Description=COBalD - the Opportunistic Balancing Daemon
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/tardis/
ExecStart=/usr/bin/python3.6 -m cobald.daemon cobald.yaml